.AchievementsSection {
	height: 100%;
	width: 100%;
	position: relative;
	padding: 15px;
	overflow: hidden;
}

.title-box {
	width: 250px;
	margin: 15px auto;
	position: relative;
	top: 20px;
	box-shadow: 0 0 20px 5px #fff;
	border-radius: 30px;
}

.AchievementsTitle {
	padding: 10px 30px;
	background: transparent;
	border: 0;
	position: relative;
	color: rgb(43, 45, 46);
	text-align: center;
	font-weight: 500;
}

.BadgesSection{
	padding-top: 10px;
	height: 100%;
	overflow-x: scroll;
	top: 110px;
	position: absolute;
	width: 100%;
	transition: 0.5s;
	padding-bottom: 150px;
}

.badges{
	margin: 20px;
	width: 87%;
	background: transparent;
    height: 60px;
    display: flex;
	flex-direction: row;
	align-items: center;

	position: relative;
	cursor: default;
 }

 .infoBadges{
	position: absolute;
	width: 60%;
	margin-left: 20px;
	text-align: center;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(88, 110, 124); 
	color: rgb(178,225,255);
	border-radius: 4px;
	display: none;
 }

 .badges:hover .infoBadges {
	display: block;
 }

 .badgeText{
	color: rgb(75, 94, 107);
	margin-left: 100px;
 }

 #unearned {
	filter: grayscale(100%);
 }

 .badgeClass {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 40px;
	margin-left: 10px;
	position: absolute;
  }
  
  .badgeClass img {
	width: 100%;
	height: 100%;
	object-fit:contain;
  }