.NotFoundPage {
	background-color: rgb(88, 110, 124);
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
 }

   
 .NotFoundContainer{
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	background-color: rgb(88, 110, 124);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px;
	color: rgb(24, 30, 35);
	z-index: 99;
 }

 #homeLink {
	color: rgb(46, 58, 66);
  }

 #homeLink:hover {
	color: rgb(153, 195, 222);
  }