.invitation {
  position: fixed;
  bottom: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(195, 202, 207);
  background-color: rgb(88, 110, 124);
  z-index: 10000; /* ensure it appears above other elements */
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
}

.accept, .reject {
    border-radius: 10px;
    border: 1px solid rgb(195, 202, 207);
    background-color: rgb(88, 110, 124);
    color: rgba(247, 249, 250, 0.5);
    margin-left: 10px;
    height: 40px;
    padding: 5px;
}